<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit formula</title>
</head>
<body>

<form th:method="PUT" th:action="@{/formulas/{id}(id=${formula.getId()})}" th:object="${formula}">
  <label for="formula">Input equation: </label>
  <input type="text" th:field="*{formulaString}" id="formula"/>
  <br/>
  <label for="x1">x1: </label>
  <input type="text" th:field="*{x1}" id="x1"/>
  <br/>
  <label for="x2">x2: </label>
  <input type="text" th:field="*{x2}" id="x2"/>
  <br/>
  <label for="x3">x3: </label>
  <input type="text" th:field="*{x3}" id="x3"/>
  <br/>
  <label for="x4">x4: </label>
  <input type="text" th:field="*{x4}" id="x4"/>
  <br/>
  <label for="x5">x5: </label>
  <input type="text" th:field="*{x5}" id="x5"/>
  <br/>
  <input type="submit" value="Update!"/>
  <div style="color:red" th:if="${#fields.hasErrors('global')}">
    <p>Errors:</p>
    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
  </div>
</form>



</body>
</html>